@import url("https://fonts.googleapis.com/css2?family=Aladin&family=Buda&family=Bungee+Hairline&family=Caveat:wght@400;500;600;700&family=East+Sea+Dokdo&family=Edu+QLD+Beginner:wght@400;500;600;700&family=Fondamento:ital@0;1&family=Forum&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Barcode+39+Extended+Text&family=Megrim&family=Neonderthaw&family=Poiret+One&family=Splash&family=Zen+Loop&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Markazi+Text&family=Smooch+Sans:wght@300;400&display=swap");

:root {
   font-size: 16px;
   --cocoa-brown: #291d21;
   --mongoose: #b69678;
   --shiraz: #a60c1c;
   --double-spanish: #e6d4ba;
   --millbrook: #69533b;
   --clam-shell: #d0baad;
   --kumera: #935f25;
   --valencia: #d94450;
   --picton-blue: #32cae5;
   --bg-color: #051417;
   --accent: #1f7f90;
   --text-color: #ebfafc;
   --link-color: #dcdddd;
   --trans: 0.7s;
   --fAladin: "Aladin", cursive;
   --fCaveat: "Caveat", cursive;
   --fDokdo: "East Sea Dokdo", cursive;
   --fQld: "Edu QLD Beginner", cursive;
   --fFondamento: "Fondamento", cursive;
   --fJosefin: "Josefin Slab", serif;
   --fNeonderthaw: "Neonderthaw", cursive;
   --fSplash: "Splash", cursive;
   --fBuda: "Buda", cursive;
   --fBungee: "Bungee Hairline", cursive;
   --fForum: "Forum", cursive;
   --fLibre: "Libre Barcode 39 Extended Text", cursive;
   --fMegrim: "Megrim", cursive;
   --fPoiret: "Poiret One", cursive;
   --fZen: "Zen Loop", cursive;
   --fMarkazi: "Markazi Text", serif;
   --fSmooch: "Smooch Sans", sans-serif;
}

body {
   margin: 0%;
   padding: 0%;
   background-color: var(--bg-color);
   color: var(--text-color);
   height: 100%;
}

body::-webkit-scrollbar {
   width: 0.5rem;
   background-color: var(--bg-color);
}

body::-webkit-scrollbar-thumb {
   background: linear-gradient(to right, var(--bg-color) 40%, var(--accent));
   border-radius: 8px;
   margin: 5rem;
}

.row {
   margin: 0%;
}

main {
   margin-left: 8.7rem;
   padding: 0%;
}

main header {
   margin-top: 1%;
   margin-right: 2%;
}

.title {
   font-family: var(--fPoiret);
   font-size: 2rem;
   text-align: end;
}

.contentContainer {
   display: flex;
   align-items: right;
}

.navbar {
   width: 8rem;
   height: 100vh;
   position: fixed;
}

.navBackBorder {
   height: 100%;
   position: absolute;
   background: linear-gradient(
      to bottom,
      var(--bg-color) 2.5%,
      20%,
      var(--accent),
      var(--bg-color) 95%
   );
   width: 8.7rem;
}

.navForeground {
   position: relative;
   padding-top: 80%;
   bottom: 60px;
   background-color: var(--bg-color);
   margin-right: 10%;
   margin-top: 0%;
   height: 100%;
   transition: var(--trans);
}

.nav-bar {
   position: relative;
   margin: 0%;
   padding-left: 0%;
   padding-right: 10%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.nav-item {
   width: 100%;
}

.nav-link {
   display: flex;
   align-items: center;
   height: 5rem;
   position: relative;
   top: 90px;
}

.link-text {
   color: var(--accent);
   position: relative;
   right: 90px;
   opacity: 0;
   transition: var(--trans);
   transform: translateX(-35px);
}

#contSpan {
   position: relative;
   right: 88px;
}

#pathLogo {
   position: relative;
   left: 0.3px;
}

.icon {
   display: block;
   z-index: 2;
   cursor: pointer;
   transition: var(--trans);
}

.icon:hover {
   transition: var(--trans);
   opacity: 0.3;
}

.nav-bar li:hover .link-text {
   opacity: 1;
   transform: translateX(3px);
}

.nav-bar li.active .icon {
   transform: translateX(75.5px);
   transition: var(--trans);
}

.nav-bar li.active .link-text {
   opacity: 1;
   transform: translateX(3px);
}

.indicator {
   position: absolute;
   width: 55px;
   height: 55px;
   background: var(--link-color);
   top: 97.6px;
   left: 100px;
   border-radius: 50%;
   border: 5px solid var(--bg-color);
   transition: var(--trans);
}

.indicator:before {
   content: "";
   position: absolute;
   bottom: 108.5%;
   left: 40.5%;
   width: 12px;
   height: 26px;
   background: transparent;
   border-bottom-right-radius: 80px;
   box-shadow: 3px 4.2px var(--bg-color);
}

.indicator:after {
   content: "";
   position: absolute;
   top: 108.5%;
   left: 40.5%;
   width: 12px;
   height: 26px;
   background: transparent;
   border-top-right-radius: 80px;
   box-shadow: 3px -4.2px var(--bg-color);
}

.nav-bar li:nth-child(1).active ~ .indi2 {
   transform: translateY(calc(80px * 0));
}
.nav-bar li:nth-child(2).active ~ .indi2 {
   transform: translateY(calc(80px * 1));
}
.nav-bar li:nth-child(3).active ~ .indi2 {
   transform: translateY(calc(81px * 2));
}
.nav-bar li:nth-child(4).active ~ .indi2 {
   transform: translateY(calc(80px * 3));
}
.nav-bar li:nth-child(5).active ~ .indi2 {
   transform: translateY(calc(80px * 4));
}
.nav-bar li:nth-child(6).active ~ .indi2 {
   transform: translateY(calc(80px * 5));
}
.nav-bar li:nth-child(7).active ~ .indi2 {
   transform: translateY(calc(80px * 6));
}
.nav-bar li:nth-child(8).active ~ .indi2 {
   transform: translateY(calc(80px * 7));
}

#jazpic {
   position: fixed;
   opacity: 0.1;
   right: -20%;
   bottom: -10%;
   transform: scaleX(-1);
   max-width: 100%;
   max-height: 100%;
}
